[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt
[submodule "libs/opencv"]
	path = libs_sources/opencv/opencv
	url = https://github.com/opencv/opencv.git
[submodule "libs/opencv_contrib"]
	path = libs_sources/opencv/opencv_contrib
	url = https://github.com/opencv/opencv_contrib